.container {
  margin: 1.5rem;

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  table {
    width: 100%;
    td,
    th {
      width: 25%;
    }
  }

  .goodsList {
    &__action {
      display: flex;
    }
  }
}
