.wrapper {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: 100%;
  .container {
    margin-right: auto;
    margin-left: auto;
    padding: 0 15rem;
    width: 100%;

    flex: 1;
    position: relative;
    .content {
      margin-right: auto;
      margin-left: auto;
      width: 90%;
    }
  }

  .footer {
    height: 2rem;
  }
}
