<div class="goodList">
  <mat-card class="goodList__card" *ngFor="let good of goodsList">
    <mat-card-header class="goodList__card__header">
      <mat-card-title>{{ good.name }}</mat-card-title>
      <mat-card-subtitle> $ {{ good.price }}</mat-card-subtitle>
    </mat-card-header>
    <img
      class="goodList__card__image"
      *ngIf="good.images?.[0]?.image"
      mat-card-image
      src="{{ good.images?.[0]?.image }}"
      alt=""
    />
    <mat-card-content class="goodList__card__content">
      <p>{{ good.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button color="primary" mat-raised-button (click)="addToCart(good.id)">
        Add to Cart
      </button>
    </mat-card-actions>
  </mat-card>
</div>
