.goodList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 1rem;

  &__card {
    width: 210px;
    height: 400px;
    &__header {
      height: 80px;
    }
    &__image {
      width: 210px;
      height: 180px;
      margin-left: auto;
      margin-right: auto;
    }
    &__content {
      height: 60px;
    }
  }
}
