<mat-card>
  <form class="example-form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>UserName</mat-label>
      <input matInput required [(ngModel)]="username" name="username" />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput required [(ngModel)]="password" name="password" />
    </mat-form-field>

    <button mat-raised-button>Submit</button>
  </form>
</mat-card>
