.card {
  min-width: 150px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  top: 50%;

  transform: translateY(-50%);
  .form {
    width: 100%;
  }

  .full-width {
    width: 100%;
  }
}
