<mat-toolbar color="primary" class="toolBar">
  <a mat-button routerLink="/">
    <h2>Let's Shop</h2>
  </a>
  <span class="spacer"></span>

  <!-- <app-cart></app-cart> -->
  <div>
    <button mat-icon-button (click)="inputSideNav.toggle()">
      <mat-icon matBadge="{{ cartList.length }}" matBadgeColor="warn"
        >shopping_cart</mat-icon
      >
    </button>

    <!-- <button type="button" mat-button (click)="inputSideNav.toggle()">
      Toggle sidenav
    </button> -->
  </div>
  <a *ngIf="reducer$?.isStaff" mat-button routerLink="/admin">
    <span>Admin</span>
  </a>

  <a *ngIf="!reducer$?.isLogin" mat-button routerLink="/login">
    <span>Login</span>
  </a>

  <a *ngIf="reducer$?.isLogin" mat-button (click)="logout()">
    <span>Logout</span>
  </a>
</mat-toolbar>
