<mat-toolbar color="primary">
  <!-- <span>Let's Shop</span> -->
  <a mat-button routerLink="/">
    <!-- <mat-icon>login</mat-icon> -->
    <span>Let's Shop</span>
  </a>
  <span class="spacer"></span>

  <app-cart></app-cart>

  <a *ngIf="reducer$?.isStaff" mat-button routerLink="/admin">
    <!-- <mat-icon>login</mat-icon> -->
    <span>Admin</span>
  </a>

  <a *ngIf="!reducer$?.isLogin" mat-button routerLink="/login">
    <!-- <mat-icon>login</mat-icon> -->
    <span>Login</span>
  </a>

  <a *ngIf="reducer$?.isLogin" mat-button (click)="logout()">
    <!-- <mat-icon>logout</mat-icon> -->
    <span>Logout</span>
  </a>
</mat-toolbar>
