<button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
  <mat-icon>shopping_cart</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <!-- <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button> -->
  <mat-list role="list" *ngFor="let item of reducer$?.cartList">
    <mat-list-item class="item" role="listitem" *ngIf="item.numbers">
      <p class="item__name">{{ item.goods_detail.name }}</p>

      <ng-container>
        <mat-icon
          aria-label="increase"
          (click)="$event.stopPropagation(); addToCart(item.goods)"
          >add_circle</mat-icon
        >

        <p>{{ item.numbers }}</p>

        <mat-icon
          aria-label="decrease"
          (click)="$event.stopPropagation(); removeFromCart(item.id)"
          >remove_circle</mat-icon
        >
      </ng-container>
    </mat-list-item>
  </mat-list>
</mat-menu>
